
.icon{
    color: #83cdf2;
    border-color: black;
    
}

.cell {
    height: 30px;
    width: 30px;
    border: 1.5px solid grey;
    border-style: inset;
}

.blackcell {
    background-color:#1f1d1c;
}

.whitecell {
    background-color: white;
}

.reina{
    font-weight: bold;
    color: brown;
}